.container{
    background: rgb(9, 10, 12);
    color: rgb(240, 236, 243);
    padding: 0 2rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}