.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(9, 10, 12);
    color: rgb(223, 223, 228);
    padding: 0 2rem;
    height: 80px;

}

.container ul {
    list-style: none;
}

.container ul li a {
    margin-left: 8px;
    padding: 4px 8px;
    font-weight: bold
}