.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(9, 10, 12);
    color: rgb(223, 223, 228);
    padding: 0 2rem;
    height: 80px;

}

.container ul {
    list-style: none;
}

.container ul li {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.container ul li a {
    margin-left: .5rem;
    padding: .2rem .4rem;
    text-align: center;
}

.container ul li a:hover {
    text-align: center;
    font-weight: bold;
}